<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="addCategory()">Crear Categoría</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="categories-grid">
    <ion-card *ngFor="let category of categories" class="category-card">
      <ion-card-header>
        <ion-card-title>{{ category.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-buttons class="category-buttons">
          <ion-button color="tertiary" fill="outline" (click)="editCategory(category)">Editar</ion-button>
          <ion-button color="danger" fill="outline" (click)="deleteCategory(category)">Eliminar</ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
