<ion-header>
  <ion-toolbar>
    <ion-title>{{ task ? 'Editar Tarea' : 'Nueva Tarea' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Título</ion-label>
    <ion-input [(ngModel)]="taskTitle"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select [(ngModel)]="selectedCategoryId">
      <ion-select-option *ngFor="let c of categories" [value]="c.id.toString()">{{ c.name }}</ion-select-option>
    </ion-select>

  </ion-item>

  <ion-button expand="full" (click)="saveTask()">
    {{ task ? 'Actualizar' : 'Crear' }}
  </ion-button>
</ion-content>